<div >
    <header class="shadow-md fixed top-0 w-full bg-white">
        <div class="container mx-auto py-3">
            <h2 class="text-2xl text-center md:text-left text-emerald-500 font-bold">Stand & Deliver</h2>
        </div>
    </header>
    <section class="flex flex-col mt-14 md:mt-16 justify-center p-5 lg:p-0">
        <div class="">
            <!-- <div class="flex flex-col gap-y-5">
                <app-button size="" shade="" buttonName="Default"></app-button>
                <app-button size="Small" shade="Dark" buttonName="Small Button"></app-button>
                <app-button size="Medium" shade="Light" buttonName="Medium Button"></app-button>
                <app-button size="Large" shade="White" buttonName="Large Button"></app-button>
            </div>
            <section class="my-10">
                <app-rating [value]="starCount"></app-rating>
            </section>
            <section class="my-10">
                <app-button (click)="addDynamicComponents()" size="Small" shade="Light" buttonName="Add Dynamic Components"
                    animation="Circle"></app-button>
                <ng-template #container></ng-template>
            </section>
            <section class="my-10">
                <app-image [imageSrc]="imageSrc" [height]="height" [width]="width" [radius]="radius"
                    [roundingSide]="roundingSide" [roundingCorners]="roundingCorners"></app-image>
            </section>
            <section class="my-10">
                <app-optimized-image></app-optimized-image>
            </section>
            <section class="my-10">
                <app-button class="block my-5" size="Small" shade="Dark" buttonName="Open Regular" animation="Fade"
                    (click)="openDialogBox('regular')"></app-button>
                <app-button size="Small" shade="Dark" buttonName="Open Video" animation="Fade"
                    (click)="openDialogBox('video')"></app-button>
                <app-dialog (closeDialog)="closeDialogBox($event)" [closeButton]="closeButton" [openDialog]="regularDialog" [youtubeUrl]="youtubeUrl"
                    type="regular"></app-dialog>
                <app-dialog (closeDialog)="closeDialogBox($event)" [openDialog]="videoDialog" [youtubeUrl]="youtubeUrl"
                    type="video"></app-dialog>
            </section>-->
            <!-- <section class="my-10">
                <app-card></app-card>
            </section>  -->
            <!-- <section>
                <app-login></app-login>
            </section> -->
            <section>
                <app-file-upload></app-file-upload>
            </section>
        </div>
    </section>
</div>