<header class="shadow-md">
    <div class="container mx-auto py-3">
        <h2 class="text-2xl text-emerald-500 font-bold">Stand & Deliver</h2>
    </div>
</header>
<section class="my-5">
    <div class="container mx-auto flex flex-col gap-y-5">
        <app-button size="" shade=""></app-button>
        <app-button size="Small" shade="Dark"></app-button>
        <app-button size="Medium" shade="Light"></app-button>
        <app-button size="Large" shade="White"></app-button>
    </div>
</section>
