<section class="flex items-center justify-center text-gray-500">
    <div class="w-80">
        <form *ngIf="isUser" class="flex flex-col gap-y-1 rounded-md" [formGroup]="signInForm"
            (ngSubmit)="signIn(signInForm)">
            <div class="flex flex-col gap-y-1 relative">
                <label>Email</label>
                <input type="email" class="border mb-5 rounded-sm px-3 py-2 focus:outline-none focus:ring-1"
                    [ngClass]="signInForm.controls['email'].invalid && signInForm.controls['email'].touched ? 'border-red-500 focus:ring-red-300' : 'border-sky-500 focus:ring-sky-300'"
                    formControlName="email">
                <div class="text-red-500 absolute bottom-0 flex items-center gap-x-1"
                    *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].touched">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                        <path fill-rule="evenodd"
                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="text-xs">
                        {{ signInForm.controls['email'].value ? 'Invalid email' : 'Email is required' }}
                    </span>
                </div>
            </div>
            <div class="flex flex-col gap-y-1 relative">
                <label>Password</label>
                <input type="text" class="border mb-5 rounded-sm px-3 py-2 focus:outline-none focus:ring-1"
                    [ngClass]="signInForm.controls['password'].invalid && signInForm.controls['password'].touched ? 'border-red-500 focus:ring-red-300' : 'border-sky-500 focus:ring-sky-300'"
                    formControlName="password">
                <div class="text-red-500 absolute bottom-0 flex items-center gap-x-1"
                    *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].touched">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                        <path fill-rule="evenodd"
                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="text-xs">
                        {{ signInForm.controls['password'].value ? 'Incorrect password' : 'Password is required' }}
                    </span>
                </div>
            </div>
            <div class="text-center mt-5">
                <button
                    class="px-5 py-2 w-full rounded-sm bg-sky-500 text-white hover:ring-1 hover:ring-offset-1 hover:ring-sky-600">Sign
                    In
                </button>
                <div class="mt-2">-or-</div>
                <p class="">Don't have an account?<span class="pl-2 text-sky-500 mt-2 underline cursor-pointer"
                        (click)="isUser = false">Sign
                        Up</span></p>
            </div>
        </form>
        <form *ngIf="!isUser" class="flex flex-col gap-y-1 rounded-md" [formGroup]="signUpForm"
            (ngSubmit)="signUp(signUpForm)">
            <div class="flex flex-col gap-y-1 relative">
                <label for="" class="">Email</label>
                <input type="email" class="border mb-5 rounded-sm px-3 py-2 focus:outline-none focus:ring-1"
                    [ngClass]="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched ? 'border-red-500 focus:ring-red-300' : 'border-sky-500 focus:ring-sky-300'"
                    formControlName="email">
                <div class="text-red-500 absolute bottom-0 flex items-center gap-x-1"
                    *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                        <path fill-rule="evenodd"
                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="text-xs">
                        {{ signUpForm.controls['email'].value ? 'Invalid Email' : 'Email is required' }}
                    </span>
                </div>
            </div>
            <div class="flex flex-col gap-y-1 relative">
                <label>Password</label>
                <input type="text" class="border mb-5 rounded-sm px-3 py-2 focus:outline-none focus:ring-1"
                    [ngClass]="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched ? 'border-red-500 focus:ring-red-300' : 'border-sky-500 focus:ring-sky-300'"
                    formControlName="password">
                <div class="text-red-500 absolute bottom-0 flex items-center gap-x-1"
                    *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                        <path fill-rule="evenodd"
                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="text-xs" *ngIf="!signUpForm.controls['password'].value">Password is required</span>
                    <ng-container *ngIf="signUpForm.controls['password'].value">
                        <span class="text-xs" *ngIf="signUpForm.controls['password'].value.length < 6">
                            Password should be at least 6 characters long</span>
                        <span class="text-xs" *ngIf="signUpForm.controls['password'].value.length > 16">
                            Password should not exceed 16 characters</span>
                    </ng-container>
                </div>
            </div>
            <div class="flex flex-col gap-y-1 relative">
                <label>Confirm Password</label>
                <input type="text" class="border mb-5 rounded-sm px-3 py-2 focus:outline-none focus:ring-1"
                    [ngClass]="(signUpForm.controls['confirmPassword'].invalid || signUpForm.controls['confirmPassword'].value !== signUpForm.controls['password'].value) && signUpForm.controls['confirmPassword'].touched ? 'border-red-500 focus:ring-red-300' : 'border-sky-500 focus:ring-sky-300'"
                    formControlName="confirmPassword">
                <div class="text-red-500 absolute bottom-0 flex items-center gap-x-1"
                    *ngIf="(signUpForm.controls['confirmPassword'].invalid || signUpForm.controls['confirmPassword'].value !== signUpForm.controls['password'].value) && signUpForm.controls['confirmPassword'].touched">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                        <path fill-rule="evenodd"
                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="text-xs">
                        {{ signUpForm.controls['confirmPassword'].value ?
                        'Passwords do not match. Please re-enter them' : 'Confirm password is required' }}
                    </span>
                </div>
            </div>
            <div class="text-center mt-5">
                <button
                    class="px-5 py-2 w-full rounded-sm bg-sky-500 text-white hover:ring-1 hover:ring-offset-1 hover:ring-sky-600">Sign
                    Up</button>
                <div class="mt-2">-or-</div>
                <p class="">Already an User?<span class="pl-2 text-sky-500 mt-2 underline cursor-pointer"
                        (click)="isUser = true">Sign In</span></p>
            </div>
        </form>
    </div>
</section>
<app-snackbar *ngIf="alertMessage" (clear)="alertMessage = ''" [alertMessage]="alertMessage"></app-snackbar>
